body {
  margin: 0;
  
}

header { 
  height: 300px;
  width: 100vw;
  padding: 0 100px;
  box-sizing: border-box;
  background-color: beige;
  border-bottom: solid salmon 10px;
}

header h1, header nav {
  display: inline-block;
  width: 49%;
}

#header-text{
  margin-left: 10%;
  width: 40%;
  position: relative;
  right: 250px;
}

main {
  height: calc(175vh);
  padding: 20px 100px;
  box-sizing: border-box;
  background-color: darkolivegreen;
}

.card {
  width: 300px;
  height: 175px;
  display: inline-block;
  padding: 5%;
  margin: 2%;
  border: solid black 1px;
  background-color: beige;

}

.card:hover{
  background-color: salmon;
}

.card-body {
  height: 50%;
  background-color: biege;
}

.card-header h3 {
  display: inline-block;
  position: relative;
  bottom: 10px;
  background-color: beige;
  border: black solid 1px;

}

#navid{
    padding: 1px;
    border: black solid;
    width: 50px;
    /* background-color: sienna; */
    color: white;
    text-decoration: none;
}

#main-row2{
    margin-left: 2%;
     
}
#main-row2.img{
  border: black solid;
}



#button:hover{
  background-color: #3e8e41
}

#salmon{
  width: 400px;
  margin-left: 0px;
}
.main-row3{
  width: 150px;
  display:flexbox;
}